/*Color and Font styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:sans-serif
}

.header, .footer {
    background-color: #1F2937;
    flex-shrink: 0;
}

 
h1 {
    font-size: 60px;
    color: #F9FaF8;
    text-align: justify;
    margin-bottom: 0;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    color: #E5E7Eb;
    font-weight: 200;
    max-width: 500px;
    margin-right: 30px;
}

h6{
    color: #E5E7EB;
    font-size: 20px;
    padding: 0px 25px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 50px;
}

button {
    background-color: #3882f6;
}

a {

    color: #E5E7Eb;
    text-decoration: none;
}

.quote {
    background-color: #E5E7Eb;
    color: #1F2937;
    font-style: italic;
    font-size: 30px;
    padding: 70px;
    margin: 20px 0;
    text-align: center;
}

.reminder {
    background-color: #3882F6;
    margin: 20px 200px;
    padding: 30px 50px;
    text-align: center;
    color: #E5E7Eb;
    font-size: 20px;
    border-radius: 30px;
}

.footer {
    text-align: end;

}

p.links{
    color: black;
}

p.author {
    font-size: 20px;
    text-align: right;
    margin: ;
}

/* Flexbox */
.header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    flex-shrink: 0;
    padding-bottom: 20px;
}
.topheader, .intro {
    display: flex;
    padding: 10px 100px;
    gap: 20px;
    justify-content: space-between;
}

.headerlink {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
}

.midheader {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

content, .cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
    /* margin: 0 40px; */
}

content {
    flex-grow: 1;

}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* Icons and Pictures */

img {
    width: 500px;
    height:auto;
    border-radius: 20px;
    margin: 20px;
}

img.content {
    width: 300px;
    height: 300px;
    border: 5px solid #3882f6;
    
}

button {
    max-width: 120px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 8px;
}

button.find {
    font-size: 20px;

}